import { FC } from 'react';

import * as Styled from './{{ pascalCase name }}.styled';
import { {{ pascalCase name }}Props } from './{{ pascalCase name }}.types';

const {{ pascalCase name }}: FC<{{ pascalCase name }}Props> = () => (
  <Styled.Wrapper>
    <h1>{{ pascalCase name }}</h1>
  </Styled.Wrapper>
);

export default {{ pascalCase name }};